body {
  color: #fff;
  background: radial-gradient(ellipse at bottom, #1b2735 25%, #090a0f 100%);
}

.flex-center {
  min-width: 80vw;
}

#highScoresList {
  list-style: none;
  margin-bottom: 4rem;
}

h1 {
  font-size: 6rem;
}

.high-score {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

@media screen and (max-width: 812px) {
  h1 {
    font-size: 8vw;
  }

  .high-score {
    font-size: 5vw;
  }
}
