* {
  box-sizing: border-box;
}

body {
  font-weight: 400;
  font-size: 1.3125rem;
  line-height: 1.6;
  font-family: "Cinzel", serif;
}

html {
  background: url(/img/Hogwarts.jpeg) no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}

/* Navbar */
.navbar ul,
.container ul {
  list-style-type: none;
}

.navbar {
  display: flex;
  position: relative;
  top: 0;
  width: 100%;
}

.navbar ul {
  position: absolute;
  justify-content: space-between;
  top: 1rem;
  right: 2rem;
  margin: 1rem 0;
}

.navbar li {
  display: inline;
  padding: 0.5rem;
  font-size: 1rem;
}

.nav-items a,
.container a {
  text-decoration: none;
  color: #fff;
  letter-spacing: 2px;
}

.nav-items a:hover {
  color: rgb(163, 163, 163);
}

.nav-items li a::after {
  opacity: 1;
  transform: scale(0);
  transform-origin: center;
}

.nav-items li a:hover::after,
nav-items li a:focus::after {
  transform: scale(1);
}

.container {
  display: flex;
  height: 110vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  max-width: 80rem;
  margin: 0 auto;
  padding: 2rem;
}

h1 {
  padding: 0.5rem 0 1.5rem 0;
}

.choice-container {
  display: flex;
  margin-bottom: 0.8rem;
  width: 100%;
  border-radius: 20px;
  background: rgb(0, 78, 204);
  font-size: 2rem;
  min-width: 45rem;
}

.choice-container:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgb(0, 66, 173);
  transform: scale(1.02);
  transform: trasnform 100ms;
}

.choice-container p {
  color: #fff;
}

.choice-prefix {
  padding: 2rem 2.5rem;
  color: white;
}

.choice-text {
  padding: 2rem;
  width: 100%;
}

.correct {
  background: linear-gradient(
    32deg,
    rgba(11, 223, 36) 0%,
    rgb(41, 232, 111) 100%
  );
}
.incorrect {
  background: linear-gradient(
    32deg,
    rgba(230, 29, 29, 1) 0%,
    rgb(224, 11, 11, 1) 100%
  );
}

/* Heads up display */
#hud {
  display: flex;
  justify-content: space-between;
}

.hud-prefix {
  text-align: left;
  font-size: 2.5rem;
  color: #fff;
  text-shadow: 5px 0 10px #000000;
}

#question {
  color: #fff;
  text-shadow: 5px 0 10px #000000;
}

.hud-main-text {
  text-align: center;
}

#progressBar {
  width: 20rem;
  height: 3rem;
  border: 0.2rem solid rgb(11, 223, 35);
  margin-top: 2rem;
  border-radius: 50px;
  overflow: hidden;
}

#progressBarFull {
  height: 100%;
  background: rgb(11, 223, 36);
  width: 0%;
}

@media screen and (max-width: 768px) {
  .choice-container {
    min-width: 40rem;
  }
}
